* {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }
  html body {
    font-size: 62.5%;
    height: 100%; }

a {
  text-decoration: none; }

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .page .topOcc {
    height: 71px;
    flex-shrink: 0; }
  .page .top {
    position: fixed;
    background-color: #ececec;
    left: 0;
    top: 0;
    padding-top: 27px;
    height: 44px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .page .top .left {
      font-size: 1rem;
      font-weight: bold;
      margin-left: 16px; }
    .page .top .right {
      margin-right: 16px; }
      .page .top .right .iconfont {
        font-size: 1.25rem;
        margin-left: 35px; }
  .page .main {
    position: relative;
    background-color: #ececec;
    flex-grow: 1;
    width: 100%;
    overflow: auto; }
    .page .main .block {
      background-color: #fff; }
      .page .main .block ul {
        width: 100%; }
        .page .main .block ul .list:last-of-type .right {
          border: none; }
        .page .main .block ul .list {
          list-style: none;
          height: 53px;
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center; }
          .page .main .block ul .list .left {
            flex-shrink: 0;
            margin: 0 16px;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            overflow: hidden; }
            .page .main .block ul .list .left img {
              width: 40px;
              height: 40px; }
          .page .main .block ul .list .right {
            height: 100%;
            width: 100%;
            font-size: 1rem;
            border-bottom: 1px solid #e0e0e0;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center; }
    .page .main .division {
      height: 30px;
      background-color: #ececec;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .page .main .division span {
        color: #9a9a9a;
        margin-left: 16px; }
    .page .main .num {
      background-color: #fff;
      height: 60px;
      border-top: 1px solid #e0e0e0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: #9a9a9a;
      font-size: 1.2rem; }
  .page .footOcc {
    flex-shrink: 0;
    height: 53px; }
  .page .foot {
    background-color: #f7f7f7;
    height: 53px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .page .foot .a {
      color: black;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .page .foot .a .footicon {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; }
        .page .foot .a .footicon .iconfont {
          color: black;
          font-size: 1.25rem;
          text-decoration: none; }
        .page .foot .a .footicon span {
          color: black;
          text-decoration: none;
          font-size: 0.6rem; }
      .page .foot .a .active {
        color: #00d359; }
        .page .foot .a .active .iconfont {
          color: #00d359; }
        .page .foot .a .active .span {
          color: #00d359; }
  .page .nav {
    height: 100%;
    position: fixed;
    right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .page .nav .topOcc {
      height: 71px; }
    .page .nav .footOcc {
      height: 53px; }
    .page .nav .navBox {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: baseline; }

/*# sourceMappingURL=style.css.map */
